*.csv
Group_10_DL_proposal.docx
resale_flat_prices_interpolated.xlsx
resale_flat_prices_one_hot_vector_and_embed.xlsx
resale_flat_prices_final.xlsx
resale_flat_prices_aggregated.xlsx
resale_flat_prices_classified.xlsx
DL report.docx